html,
body {
margin:0;
padding:0;
height:100%;
}

#content
{
	min-height: 200px;
	margin: 0 auto;
	width: 60%;
	padding-top: 20px;
	padding-bottom:120px;
}

#page {
	min-height:100%;
	position:relative;
}

#header
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin: 0 auto;
}

#footer
{
	color: white;
	background-color: black;
	height: 100px;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer p
{
	line-height: 100px;
}

.section
{
	padding-bottom: 20px;
}

#sign_up_form
{
	padding-top: 10px;
	padding-bottom: 20px;
}

#product_list .item
{
	height: 200px;
}

#product_list .segment
{
	height: 70px;
	overflow-y: auto;
}